@font-face {
  font-family: 'nbt-fonts';
  src: url('../fonts/fontello.eot?3677059');
  src: url('../fonts/fontello.eot?3677059#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?3677059') format('woff2'),
       url('../fonts/fontello.woff?3677059') format('woff'),
       url('../fonts/fontello.ttf?3677059') format('truetype'),
       url('../fonts/fontello.svg?3677059#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?3677059#fontello') format('svg');
  }
}
*/
 
 [class^="nbt-icon-"]:before, [class*=" nbt-icon-"]:before {
  font-family: "nbt-fonts";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
 
.nbt-icon-basket:before { content: '\e800'; } /* '' */
.nbt-icon-basket-1:before { content: '\e801'; } /* '' */
.nbt-icon-basket-alt:before { content: '\e802'; } /* '' */
.nbt-icon-cancel-circled:before { content: '\e803'; } /* '' */
.nbt-icon-basket-2:before { content: '\e804'; } /* '' */
.nbt-icon-basket-3:before { content: '\e805'; } /* '' */
.nbt-icon-basket-4:before { content: '\e806'; } /* '' */
.nbt-icon-right-thin:before { content: '\e807'; } /* '' */
.nbt-icon-ok-circled:before { content: '\e808'; } /* '' */
.nbt-icon-ok:before { content: '\e809'; } /* '' */
.nbt-icon-cancel:before { content: '\e80a'; } /* '' */
.nbt-icon-down-open:before { content: '\e80b'; } /* '' */
.nbt-icon-left-open:before { content: '\e80c'; } /* '' */
.nbt-icon-right-open:before { content: '\e80d'; } /* '' */
.nbt-icon-up-open:before { content: '\e80e'; } /* '' */
.nbt-icon-search:before { content: '\e80f'; } /* '' */
.nbt-icon-up-open-big:before { content: '\e810'; } /* '' */
.nbt-icon-down-open-big:before { content: '\e811'; } /* '' */
.nbt-icon-spin4:before { content: '\e834'; } /* '' */
.nbt-icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.nbt-icon-file-pdf:before { content: '\f1c1'; } /* '' */
.nbt-icon-shopping-basket:before { content: '\f291'; } /* '' */

.animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}