/*
 * SimpleModal Login - WordPress Modal Ajax Login
 * Theme: default
 * Copyright 2014 Studio Fuel (http://www.studiofuel.com)
 */

#simplemodal-login-overlay-education {background-color:#000;}
#simplemodal-login-container-education {background-color:rgba(255,255,255,0.15); color:#414141; max-width: 90%; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}
.simplemodal-wrap{background: #fff;}
#simplemodal-login-container-education .message,
#simplemodal-login-container-education #login_error {margin: 15px 0;}
#simplemodal-login-container-education .message {}
#simplemodal-login-container-education p {margin:0; font-size: 14px}
#simplemodal-login-container-education .title {color:#000; font-family: 'Roboto'; font-size:36px; font-weight:bold; margin-bottom:20px;}
#simplemodal-login-container-education .close {position:absolute; right:15px; top: 20px}
#simplemodal-login-container-education .close a {display:block; color:black; text-decoration:none;font-size: 25px}
#simplemodal-login-container-education .close a:hover {color:rgba(0,0,0,0.5);}
.simplemodal-login-fields {padding: 30px 30px 0px;}
#simplemodal-login-container-education form .submit {clear:both; margin-top: 20px;}
#simplemodal-login-container-education form .submit input {display: block; width: 100%; font-size:18px; font-weight: 500; text-transform: uppercase;}
#simplemodal-login-container-education form .submit input:hover {}
#simplemodal-login-container-education form .submit input.simplemodal-close {display: none;}
#simplemodal-login-container-education form .forgetmenot {margin-top:10px; font-size:18px; text-align: left;}
#simplemodal-login-container-education .nav {color:#666; clear:both; padding-top:10px; text-align:center;}
#simplemodal-login-container-education .nav a {}
#simplemodal-login-container-education .reg_passmail {clear:both; text-align:left;}
#simplemodal-login-container-education .user_pass, 
#simplemodal-login-container-education .user_login, 
#simplemodal-login-container-education .user_email {font-size:14px; width:100%; margin:0 0 10px; border: solid 1px rgba(153, 153, 153, 0.93);background:transparent;}
#simplemodal-login-container-education label{font-weight: normal;}
#simplemodal-login-container-education .rememberme {vertical-align:middle;display: inline-block; margin: 0 0 3px;}
.simplemodal-login-activity {background:url(../img/default/loading.gif) center no-repeat; height:160px; margin-top:12px;}

#simplemodal-login-form .social {
    width: 100%;
    display: flex;
}

#simplemodal-login-form .social__item {
    width: 50%;
    cursor: pointer;
    height: 60px;
    background-color: #ffffff;
    border: solid 1px rgba(8, 152, 255, 0.93);
    padding: 10px;
}

#simplemodal-login-form .social__item .item-left {
    margin-top: 5px;
    float: left;
    margin-right: 10px;
}

#simplemodal-login-form .social__item .item-right {
    line-height: 19px;
    font-weight: bold;
    text-align: left;
    color: #0898ff;
    font-size: 14px;
    width: 80%;
}

#simplemodal-login-form .social__item .clear {
    clear: both;
}

#simplemodal-login-container-education .social__facebook img {
    width: 30px;
    height: 30px;
}

#simplemodal-login-form .social__facebook {
    margin-right: 7px;
}


#simplemodal-login-form .social__google {
    margin-left: 7px;
}

#simplemodal-login-form .social__google img {
    width: 30px;
    height: 30px;

}


#simplemodal-login-form .simplemodal-login-fields p >input {
    height: 30px;
}
#simplemodal-login-form .simplemodal-login-fields p >input:focus {
    border: solid 1px #f68d7d;
}

#simplemodal-login-form .simplemodal-login-fields .email-address,
#simplemodal-login-form .simplemodal-login-fields .label-password {
    text-align: left;
    margin-bottom: 5px;
}

.nbt-form__line-text {
    position: relative;
    text-align: center;
    margin: 25px 0;
    font-size: 14px;
}

.nbt-form__line-text:before {
    width: 30%;
    border-style: solid;
    border-color: #cccccc;
    border-bottom-width: 1px;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    content: "";
    position: absolute;
    top:50%;
    left: 0;
}

.nbt-form__line-text:after {
    width: 30%;
    border-style: solid;
    border-color: #cccccc;
    border-bottom-width: 1px;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    content: "";
    position: absolute;
    top:50%;
    right: 0;
}

#simplemodal-login-container-education .nbt__pin--book {
    margin: 20px 0;
}

hr {
    margin: 0;
}

#simplemodal-login-form .simplemodal__footer {
    display: flex;
    padding: 20px 30px;
    background-color: #f7f7f7;
    border: solid 1px #cccccc;
}

#simplemodal-login-form .simplemodal__footer .footer__item {
    /*width: 50%;*/
}
#simplemodal-login-form .simplemodal__footer .footer__left {
    width: 70%;
    font-size: 14px;
}

#simplemodal-login-form .simplemodal__footer .footer__left p:first-child {
    font-weight: bold;
}

#simplemodal-login-form .simplemodal__footer .footer__right {
    text-align: right;
    margin: auto;
    width: 30%;
}

#simplemodal-login-form .simplemodal__footer .footer__right a {
    padding: 5px 10px;
    border: 1px solid #f68d7d;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    color: #f68d7d;
}
#simplemodal-login-form form {
    margin-bottom: 0;
}

#simplemodal-login-container-education {
    top: 50px !important;
}

#simplemodal-login-container-education form .submit input {
    padding: 5px 0;
    background-color: #f68d7d;
    height: 40px;
    color: #FFFFFF;
    border: solid 1px rgba(153, 153, 153, 0.93);
}

#simplemodal-login-form .simplemodal-forgotpw {
    color: #0898ff;
    font-size: 12px;
}

#simplemodal-login-form .nbt__pin--book {
    font-size: 14px;
    text-align: left;
}

#simplemodal-login-form .nbt__pin--book a {
    font-weight: bold;
    color: #f68d7d;
}

#lostpasswordform .title {
    padding: 30px;
    margin: 0;
}

#lostpasswordform .simplemodal-login-fields {
    padding: 0 30px 30px;
}

/*responsive*/

@media only screen and (max-width: 460px){
    #simplemodal-login-form .social__item .item-right {
        width: 100%;
    }
}

@media only screen and (max-width: 410px) {
    #simplemodal-login-form .social {
        flex-wrap: wrap;
    }

    #simplemodal-login-form .social__item {
        width: 100%;
    }

    #simplemodal-login-form .social__item .item-right {
        line-height: 37px;
    }

    #simplemodal-login-form .social__facebook {
        margin-right: 0;
        margin-bottom: 10px;
    }
    #simplemodal-login-form .social__google {
        margin-left: 0;
        margin-top: 10px;
    }

    #simplemodal-login-form .simplemodal__footer .footer__left {
        display: none;
    }

    #simplemodal-login-form .simplemodal__footer .footer__right {
        width: 100%;
        float: right;
    }
}