.nbt-ri-selector input[type="radio"], .nbt-ri-selector input[type="radio"]:focus{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;



    border: 0;
    background: transparent;
    color: transparent;
    box-shadow: none;
}

.nbt-ri-selector input[type="radio"]:checked:before{
    content: '';
    display: none;
}
.nbt-ri-selector input:active +.nbt-ri-selector-label{opacity: .9;}
.nbt-ri-selector input:checked +.nbt-ri-selector-label{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.nbt-ri-selector-label{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
        width: 140px;
    height: 180px;
    background-size: cover;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.nbt-ri-selector-label:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}
.type-shop_order .column-order_actions a.button.nbt_pdf-creator {
    float: left;
    width: 26px;
    height: 26px;
    padding: 3px 2px;
}
.type-shop_order .column-order_actions a.button.nbt_pdf-creator img {
    width: 16px;
}